<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title> 
    <%= stylesheet_link_tag 'new_registration' %>
   </head>
<body>
  <div class="wrapper">
    <h2>Cadastre-se</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="input-box">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Enter your email", required: true %>
      </div>

      <div class="input-box">
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, placeholder: "Enter your password", required: true %>
      </div>

      <div class="input-box">
        <%= f.label :confirm_password, "Confirmar senha" %>
        <%= f.password_field :confirm_password, placeholder: "Enter your password", required: true %>
      </div>

      <div class="input-box button">
        <%= f.submit "Registrar agora" %>
      </div>
        <% end %>
      <div class="text">
        <h3>Já tem uma conta? <%= link_to "Entrar agora", new_session_path(resource_name) %></h3>
      </div>
    </form>
  </div>
</body>
</html>