<%= form_with(model: produto, local: true, html: { class: 'container' }) do |form| %>
  <div class="card" style="width: 38rem; margin: auto; padding: 20px;">

    <% if produto.errors.any? %>
    <% end %>

    <div class="card-body">
      <div class="form-group mb-3"> 
        <%= form.label :nome %>
        <%= form.text_field :nome, class: 'form-control' %>
      </div>

      <div class="form-group mb-3"> 
        <%= form.label :quantidade %>
        <%= form.number_field :quantidade, class: 'form-control', min: 0 %>
      </div>

      
      <%= form.hidden_field :user_email, value: current_user.email %>

      <div class="form-group mt-3"> 
        <%= form.submit "Enviar", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
