<%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
        <div class="form-group mb-2">
          <%= f.label :nome, "Pesquisar", class: 'sr-only' %>
          <%= f.search_field :nome_cont, class: 'form-control mr-2', placeholder: 'Pesquisar pelo nome' %>
        </div>
        <%= f.submit 'Search', class: 'btn btn-primary mb-2' %>
        <%= link_to 'Novo produto', new_produto_path, class: 'btn btn-primary mb-2 ml-2' %>
      <% end %>

    