<%= stylesheet_link_tag 'style.css' %>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<%= render 'searchform' %>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th><%= sort_link(@q, :nome, "Nome", default_order: :desc) %></th>
						      <th>Quantidade</th>
						      <th>Actions</th>
							  <th>Transferir</th>
						    </tr>
						  </thead>
						  <tbody>
							<% @produtos.each do |produto| %>
						    <tr>
								<td><%= produto.nome %></td>
								<td><%= produto.quantidade %></td>
								<td>
								<%= link_to 'Mostrar', produto, class: 'btn btn-primary btn-sm' %>
								<%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-warning btn-sm' %>
								<%= link_to 'Excluír', produto, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
							    </td>
								<td>
									<%= form_with(model: produto, local: true, html: { class: 'container' }) do |form| %>
									<%= form.number_field :quantidade, class: 'form-control', min: 0 %>
									<%= form.hidden_field :user_email, value: current_user.email %>
										<div class="form-group mt-3"> 
											<%= form.submit "Enviar", class: 'btn btn-primary' %>
										</div>
									<% end %>
								</td>
						    <tr>
						     <% end %>
						    </tr>
						  </tbody>
						</table>
					</div>
					<%== pagy_bootstrap_nav(@pagy) %>
				</div>
			</div>
		</div>
	</section>
	</body>