<h2>Logs:</h2>
<ul>
  <% @produto.show_logs.each do |log| %>
    <li>
      <%= log.user.email %>: Realizou <%= log.tipo %> de <%= log.quantidade_alterada %> unidades de <%= @produto.nome %> em <%= log.created_at.strftime('%m/%d/%Y') %> ás <%= log.created_at.strftime('%H:%M')%>
    </li>
  <% end %>

  <%= link_to 'Voltar', produtos_path, class:'btn btn-primary' %>
</ul>
