<div class="container mt-5">
  <h2 class="mb-4">Histórico de Atualizações</h2>
  <%= render 'searchform' %> 
  <table class="table">
    <thead>
      <tr>
        <th><%= sort_link(@q, :created_at, "Data", default_order: :desc) %></th>
        <th>Hora</th>
        <th>Email do Usuário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
        <% @logs.each do |log| %>
          <tr>
            <td><%= log.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= log.created_at.strftime('%H:%M') %></td>
            <td><%= highlight log.user.email, params.dig(:q, :produto_nome_or_user_email_cont) %></td>
            <td>
              <% if log.tipo == 'alteracao_nome' %>
                Realizou alteração do nome do produto de <%= highlight log.nome_anterior, params.dig(:q, :produto_nome_or_user_email_cont) %> para <%= highlight(link_to(log.produto.nome, edit_produto_path(log.produto)), params.dig(:q, :produto_nome_or_user_email_cont), sanitize: false) %>
              <% elsif log.quantidade_alterada.present? %>
                Realizou <%= log.tipo %> de <%= log.quantidade_alterada %> unidades de <%= highlight(link_to(log.produto.nome, edit_produto_path(log.produto)), params.dig(:q, :produto_nome_or_user_email_cont), sanitize: false) %>
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>


