<div class="container mt-5">
  <h2 class="mb-4">Histórico de Atualizações</h2>
  <div class="list-group">
    <% @logs.each do |log| %>
      <div class="list-group-item">
        <% if log.tipo == 'alteracao_nome' %>
          <strong><%= log.user.email %>:</strong> Realizou alteração do nome do produto de <%= log.nome_anterior %> para <%= log.produto.nome %>
        <% elsif log.quantidade_alterada.present? %>
          <strong><%= log.user.email %>:</strong> Realizou <%= log.tipo %> de <%= log.quantidade_alterada %> unidades de <%= log.produto.nome %> em <%= log.created_at.strftime('%m/%d/%Y') %> ás <%= log.created_at.strftime('%H:%M')%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-3">
  <%= link_to 'Voltar', produtos_path, class: 'btn btn-primary' %>
</div>

<style>
  
.container {
  font-family: Arial, sans-serif;
}

h2 {
  color: #333;
}

.list-group-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.list-group-item strong {
  color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
</style>
