<%= stylesheet_link_tag 'logs' %>
<div class="container mt-5">
  <h2 class="mb-4">Histórico de Atualizações</h2><%= link_to 'Voltar', produtos_path, class: 'btn btn-primary' %>
  <div class="list-group">
    <% current_date = nil %>
    <% @logs.sort.reverse.each do |created_at, logs| %>
      <% if current_date != created_at.strftime('%d/%m/%Y') %>
        <% current_date = created_at.strftime('%d/%m/%Y') %>
        <div class="list-group-item">
          <h3><%= current_date %></h3>
          <div class="list-group-item-divider"></div>
          <ul>
      <% end %>
      <% logs.each do |log| %>
        <li><strong><%= log.created_at.strftime('%H:%M') %> :</strong> <%= log.user.email %> </li>
        <% if log.tipo == 'alteracao_nome' %>
          Realizou alteração do nome do produto de <%= log.nome_anterior %> para <%= link_to log.produto.nome, edit_produto_path(log.produto) %></strong>
        <% elsif log.quantidade_alterada.present? %>
          Realizou <%= log.tipo %> de <%= log.quantidade_alterada %> unidades de <%= link_to log.produto.nome, edit_produto_path(log.produto) %>
        <% end %>
      <% end %>
      <% if current_date == created_at.strftime('%d/%m/%Y') %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
