<!-- views/log_history/index.html.erb -->
<h2>Log History:</h2>
<ul>
  <% @logs.each do |log| %>
    <li>
      <% if log.tipo == 'alteracao_nome' %>
        <%= log.user.email %>: Realizou alteração do nome do produto de <%= log.nome_anterior %> para <%= log.produto.nome %>
      <% elsif log.quantidade_alterada.present? %>
        <%= log.user.email %>: Realizou <%= log.tipo %> de <%= log.quantidade_alterada %> unidades de <%= log.produto.nome %> em <%= log.created_at.strftime('%m/%d/%Y') %> ás <%= log.created_at.strftime('%H:%M')%>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Voltar', produtos_path, class: 'btn btn-primary' %>